.main-about {
  display: flex;
  align-items: flex-start;
}

.activities-container {
  align-items: center;
  width: 50%;
  background-color: #d9d9d9;
  margin: 2rem auto 2rem auto;
  border: 0.2rem solid black;
  border-radius: 3%;
  line-height: 25px;
  font-family: "Gill Sans", Arial, Helvetica, sans-serif, "Gill Sans MT",
    "Trebuchet MS" !important;
  font-weight: 700;
  font-size: 18px;
}
.image {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.about-text {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 3%;
  font-size: 22px;
  color: #d9d9d9;
  text-align: center;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 5px;
  font-family: "Gill Sans", Arial, Helvetica, sans-serif, "Gill Sans MT",
    "Trebuchet MS" !important;
}

.skills {
  padding: 0 0 4rem 0;
}
.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards__items {
  margin-bottom: 24px;
}

#desktop {
  display: block;
}
#mobile {
  display: none;
  line-height: 30px;
}
@media screen and (max-width: 768px) {
  .image {
    width: 35%;
  }
  .image1 {
    width: 50%;
  }
  .about-text {
    font-size: large;
    margin-left: 8%;
    margin-right: 8%;
  }
  .activities-container {
    width: 95%;
  }
  #desktop {
    display: none;
  }
  #mobile {
    display: block;
  }
}

@media screen and (max-width: 1366px) and (min-width: 1024px) {
  .image {
    width: 20%;
  }

  .about-text {
    font-size: larger;
    margin-left: 8%;
    margin-right: 8%;
  }
  .activities-container {
    width: 95%;
  }
}
