.link-button {
  text-decoration: none;
  margin-top: 0.5rem;
  margin-right: 1rem;

  padding: 0.2rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  border: none;
  transition: all 0.4s ease 0s;

  color: #323c44;
  background: white;
}

.link-button:hover {
  color: #323c44;
  background: #cd6e12;
}

.tags {
  font-weight: bolder;
}
