html {
  background: url("https://w.wallhaven.cc/full/j8/wallhaven-j8x6dp.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
