.titleMessage {
  position: absolute;
  width: 100%;
  top: 22rem;
  z-index: 1;
  margin-top: -125px;
  text-align: center;
}

strong {
  font-size: 1.25em;
}

div {
  color: white;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  font-weight: 100;
  letter-spacing: 7px;
}

.main {
  font-size: 50px;
}

.sub {
  font-size: 27px;
  letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
  .main {
    font-size: 20px;
  }
  .titleMessage {
    margin-top: 0;
  }
  div {
    color: white;
    text-size-adjust: 10px;
  }
}
